@media only screen and (max-width: 1500px) {
    .nav {
        max-width: 100%;
    }
    .logo .img {
        width: 270px;
        height: 92px;
        margin-top: -5px; 
        margin-left: 20px; 
        margin-right: 40px;
    }

    .menu-main {
        margin-right: 60px;
    }
    
    .menu-main a {
        font-size: 25px;
    }
    
    button{
        font-size: 11px;
    }
    body{
       width:1500px;
       background: #000 url(images/fon3.png); /* Фоновый цвет и фоновый рисунок*/
		      color: #fff; /*Цвет текста на странице*/
		      background-attachment: fixed; /* Фон страницы фиксируется */
		      background-repeat: repeat-y; /* Изображение повторяется по горизонтали */
              background-size: 1500px;
    }
    
 .ikonkafor2 {
    width: 250px;
 }

 .ikonkafor1 {
    margin-left: 10px;
 }

 .container {
    width: 600px;
    height: 520px;
    max-width: 90%;
    padding: 0 20px;
    margin-top: 0px;
    margin-left: 30px;
}
.forma {
    width: 600px;
    height: 450px;
    padding: 20px 0px;
    margin-top: 20px;
}
.forma-nte {
    width: 600px;
    margin-left: 40px;
    margin-right: 30px;
}

.forma-nte h2{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;;
}

.form-control {
    width: 500px;
    padding: 7px 10px;
}
.form-control-sms {
    width: 500px;
    padding: 7px 10px;
}

        .map img {
            width: 500px;
            margin-right: 30px;
        }
    
    footer{
        width: 100%;
    }
    
    .footer .row {
        width: 200px;
    }
    
    .footer .rrow {
        
        width: 800px;
    }
    
    .footer .rrow ul{
        margin-left: -83px;
    }
    
    .footer .row ul li {
        font-size: 20px;
        width: 100%;
        margin:0px -15px;
    }
    
    .footer .rrow ul li {
        font-size: 20px;
        margin:0px 40px;
        width: 100%;
    }
    
    .footer .row ul li p {
        font-size: 25px;
    }
    
    .footer .rrow ul li p {
        font-size: 25px;
    }
    
    .footer .rrow ul li div{
        margin-top: -23px;
        text-decoration:none; 
        color:gainsboro;
    }
}
    
    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    
@media only screen and (max-width: 1280px) {
    .nav {
        max-width: 100%;
    }
    .logo .img {
        width: 220px;
        height: 75px;
        margin-top: -5px; 
        margin-left: 60px; 
        margin-right: 20px;
    }

    .menu-main {
        margin-right: 60px;
    }
    
    .menu-main a {
        font-size: 18px;
    }
    
    button{
        font-size: 11px;
    }
    body{
       width:1280px;
       background: #000 url(images/fon3.png); /* Фоновый цвет и фоновый рисунок*/
		      color: #fff; /*Цвет текста на странице*/
		      background-attachment: fixed; /* Фон страницы фиксируется */
		      background-repeat: repeat-y; /* Изображение повторяется по горизонтали */
              background-size: 1280px;
    }
    
    .ikonkafor2 {
        width: 350px;
        height: 155px;
     }
     .ikonkafor1 {
        width: 550px;
        margin-right: 10px;
        margin-left: 10px;
     }

     .ikonkafor1 p {
        width: 280px;
        font-size: 18px;
        padding: 0px 0px 0px 10px;
     }
    
     .ikonkafor1 img {
        width: 50px;
        height: 50px;
        padding: 10px 20px;
     }

     .ikonkafor3 {
        width: 510px;
        margin-right: 0px;
        margin-left: 0px;
     }
    
     .ikonkafor3 img {
        width: 50px;
        height: 50px;
        ;
     }

    .ikonkafor3 img{
        padding: 10px 20px;
    }

    #ssil {
        font-size: 18px;
    }

    .ikonkafor3 p {
        font-size: 18px;
        margin-left: 8px;
    }

    .ikonkafor2 p {
        font-size: 18px;
        margin-top: 0px;
    }
    
        .map {
            height: 500px;
        }

     .container {
        width: 530px;
        height: 520px;
        max-width: 90%;
        padding: 0 20px;
        margin-top: 0px;
        margin-left: 30px;
    }
    .forma {
        width: 530px;
        height: 450px;
        padding: 20px 0px;
        margin-top: 20px;
    }
    .forma-nte {
        width: 500px;
        margin-left: 40px;
        margin-right: 30px;
    }
    
    .forma-nte h2{
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 30px;;
    }
    
    .form-control {
        width: 430px;
        padding: 7px 10px;
    }
    .form-control-sms {
        width: 430px;
        padding: 7px 10px;
    }
    
        .map img {
                width: 400px;
                margin-right: 30px;
            }

    .btn {
        margin: 10px 10px 10px 55px;
        background-color: #2255bb;
        border: 2px solid #050d1d;
    }
            
    .btn:hover {
        margin: 10px 10px 10px 55px;
        background-color: #366dda;
        border: 2px solid #050d1d;
        box-shadow: 0px 0px 2px 2px rgba(14, 15, 64);
    }
            
    .btn:active {
        margin: 10px 10px 10px 55px;
        background-color: #102756;
    }

    footer{
        width: 100%;
    }
    
    .footer .row {
        width: 200px;
    }
    
    .footer .rrow {
        
        width: 800px;
    }
    
    
    .footer .rrow ul{
        margin-left: -83px;
    }
    
    .footer .row ul li {
        font-size: 20px;
        width: 100%;
        margin:0px -15px;
    }
    
    .footer .rrow ul li {
        font-size: 20px;
        margin:0px 40px;
        width: 100%;
    }
    
    .footer .row ul li p {
        font-size: 25px;
    }
    
    .footer .rrow ul li p {
        font-size: 25px;
    }
    
    .footer .rrow ul li div{
        margin-top: -23px;
        text-decoration:none; 
        color:gainsboro;
    }
}
    /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    
    
@media only screen and (max-width: 768px) {
    .upward {
    width: 100px;
    height: 115px;
}

.upward.active {
    width: 100px;
    height: 77px;
}
    .osnov3 {
        margin-bottom: 50px;
    }

    .osnov {
        height: 1500px;;
    }
    
    .map {
        width: 600px;
        display: flex;
        flex-direction: column;
    }

    .map img{
        width: 600px;
    }
    
    .nav {
        top:0;
        max-width: 100%;
        height: 70px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .burger {
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        margin-right: 50px;
        margin-left: 5px;
        z-index: 50;
    }
    .burger span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 13px;
        transition: all 0.4s ease 0s;
    }
    .burger:before,
    .burger:after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 0.4s ease 0s;
    }
    
    .burger:before {
        top:0;
    }
    .burger:after {
        bottom:0;
    }
    
    .nav:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: #000;
        z-index: 3;
    }
    
    .burger.active:before {
        transform: rotate(45deg);
        top:14px;
    }
    .burger.active:after {
        transform: rotate(-45deg);
        bottom:14px;
    }
    .burger.active span {
        transform: scale(0)
    }
    
    .menu-main {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        top:-100%;
        left:0;
        right: 0;
        width: 100%;
        height: 280px;
        background-color: #000;
        z-index: 2;
        
    }
    
    .menu-main.active{
        top:0;
        width: 100%;
        transition: all 0.8s ease 0s;
    }
    
    .menu-main li{
        margin-left: 0px;
        font-size: 23px;
    }
    
    .logo {
        max-width: 230px;
        margin-left: -20px;
        z-index: 50;
    }
    
    .logo .img {
        width: 125px;
        height: 42px;
        margin-left: -20px;
    }

    .menu-main a {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    button{
        font-size: 9px;
        width: 125px;
        height: 42px;
        text-align: center;
        padding: 7px;
        margin-left: 30px;
        margin-right: -70px;
    }
    body{
       width:768px;
       background: #000 url(images/fon3.png); /* Фоновый цвет и фоновый рисунок*/
		      color: #fff; /*Цвет текста на странице*/
		      background-attachment: fixed; /* Фон страницы фиксируется */
		      background-repeat: repeat-y; /* Изображение повторяется по горизонтали */
              background-size: 768px;
    }
    
    .ikonkafor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 400px;
        width: 614px;
    }

    .ikonkafor2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 250px;
        height: 100px;
        margin-top: 0px;
     }
     .ikonkafor1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        height: 200px;
     }

     .ikonkafor1 p {
        text-align: center;
        font-size: 13px;
        padding: 0px 0px 0px 10px;
     }
    
     .ikonkafor1 img {
        width: 50px;
        height: 50px;
        padding: 10px 20px;
     }

     .ikonkafor3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 100px;
        
        margin-bottom: 20px;
     }
    
     .ikonkafor3 img {
        width: 50px;
        height: 50px;
        ;
     }

    .ikonkafor3 img{
        padding: 0px 20px;
        margin-bottom: -30px;
    }

    #ssil {
        font-size: 15px;
    }

    .ikonkafor3 p {
        display: none;
    }

    .ikonkafor2 p {
        display: none;
    }

    .map {
        height: 1000px;
        margin-top: -50px;
    }

    .map img {
        width: 500px;
        margin-top: 50px;
        margin-left: 50px;
    }

   
    
    footer{
        width: 100%;
    }
    
    .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer .row {
        width: 200px;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .footer .rrow {
        display: none;
    }
    
    .footer .row ul{
        text-align: center;
    }
    
    .footer .rrow ul{
        margin-left: -83px;
    }
    
    .footer .row ul li {
        font-size: 20px;
        width: 100%;
        margin:2px -15px;
    }
    
    .social a {
	display: block;
        width: 108px;}
    
    .footer .rrow ul li {
        font-size: 16px;
        margin:10px 10px 10px 40px;
        width: 100%;
    }
    
    .footer .row ul li p {
        font-size: 25px;
    }
    
    .footer .rrow ul li p {
        font-size: 25px;
    }
    
    .footer .rrow ul li div{
        margin-top: -20px;
        margin-left: -30px;
        text-decoration:none; 
        color:gainsboro;
    }
    
    .footer1 .row p b{
        font-size: 10px;
    }
    
    .footer1 .row1 img {
        width: 150px;
        height: 30px;
    }
}