@media only screen and (max-width: 1500px) {
    .nav {
        max-width: 100%;
    }
    .logo .img {
        width: 270px;
        height: 92px;
        margin-top: -5px; 
        margin-left: 20px; 
        margin-right: 40px;
    }

    .menu-main {
        margin-right: 60px;
    }
    
    .menu-main a {
        font-size: 25px;
    }
    
    button{
        font-size: 11px;
    }
    body{
       width:1500px;
       background: #000 url(images/fon3.png); /* Фоновый цвет и фоновый рисунок*/
		      color: #fff; /*Цвет текста на странице*/
		      background-attachment: fixed; /* Фон страницы фиксируется */
		      background-repeat: repeat-y; /* Изображение повторяется по горизонтали */
              background-size: 1500px;
    }
    
    .osnov {
        width: 1500px   ;
    }
    
    .onas {
        width: 1200px;
        margin-top: 10px; 
    }
    
    .onas1 ol{
        max-width: 1    200px; 
    }
    
    .map img{
        width: 300px;
}
    
    .map a img{
        width: 600px;
}

.strelka {
    padding: 0px 70px 0px 0px;
}

h2{
    font-family: 'Comic Sans MS';
    letter-spacing: 2px;
    color: black;
    font-size: 35px;
    text-align:start;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.ramkas {
    width: 80%;
    height: 20px;
    margin-top: -2px;
}
    
    footer{
        width: 100%;
    }
    
    .footer .row {
        width: 200px;
    }
    
    .footer .rrow {
        
        width: 800px;
    }
    
    .footer .rrow ul{
        margin-left: -83px;
    }
    
    .footer .row ul li {
        font-size: 20px;
        width: 100%;
        margin:0px -15px;
    }
    
    .footer .rrow ul li {
        font-size: 20px;
        margin:0px 40px;
        width: 100%;
    }
    
    .footer .row ul li p {
        font-size: 25px;
    }
    
    .footer .rrow ul li p {
        font-size: 25px;
    }
    
    .footer .rrow ul li div{
        margin-top: -23px;
        text-decoration:none; 
        color:gainsboro;
    }
}
    
    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    
@media only screen and (max-width: 1280px) {
    .oreklame h2 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
       
    .onas {
        width: 1024px;
        margin-top: 10px; 
    }
    
    .onas1 p{
        font-size: 20px; 
    }
    
    .onas1 ol li{
        font-size: 20px; 
    }
    
    .map img{
        width: 250px;
}
    
    .map a img{
        width: 550px;
}
    
    .nav {
        max-width: 100%;
    }
    .logo .img {
        width: 220px;
        height: 75px;
        margin-top: -5px; 
        margin-left: 60px; 
        margin-right: 20px;
    }

    .menu-main {
        margin-right: 60px;
    }
    
    .menu-main a {
        font-size: 18px;
    }
    
    button{
        font-size: 11px;
    }
    body{
       width:1280px;
       background: #000 url(images/fon3.png); /* Фоновый цвет и фоновый рисунок*/
		      color: #fff; /*Цвет текста на странице*/
		      background-attachment: fixed; /* Фон страницы фиксируется */
		      background-repeat: repeat-y; /* Изображение повторяется по горизонтали */
              background-size: 1280px;
    }
    
    .osnov {
        width: 1280px;
    }
    
    h2 {
        font-size: 25px;
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .osnov1 {
        margin-top: 170px;
    }
    
    video {
        width: 1024px;
        height: 594px;
    }
    .vidos { position:relative; }
    .vidos video {
        position:relative;
        z-index:0;
        border-radius: 10px;
    }
    .vidossss {
        width: 1024px;
        height: 594px;
    }
    
    h1 {
        font-size: 35px;
    }
    
    
    footer{
        width: 100%;
    }
    
    .footer .row {
        width: 200px;
    }
    
    .footer .rrow {
        
        width: 800px;
    }
    
    
    .footer .rrow ul{
        margin-left: -83px;
    }
    
    .footer .row ul li {
        font-size: 20px;
        width: 100%;
        margin:0px -15px;
    }
    
    .footer .rrow ul li {
        font-size: 20px;
        margin:0px 40px;
        width: 100%;
    }
    
    .footer .row ul li p {
        font-size: 25px;
    }
    
    .footer .rrow ul li p {
        font-size: 25px;
    }
    
    .footer .rrow ul li div{
        margin-top: -23px;
        text-decoration:none; 
        color:gainsboro;
    }
}
    /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    
    
@media only screen and (max-width: 768px) {
    .osnov {
        width: 100%;
    }
    
    .onas {
        width: 614px;
        margin-top: 0px; 
    }
    
    .upward {
    width: 100px;
    height: 115px;
}

.upward.active {
    width: 100px;
    height: 77px;
}
    
    
    
    .nav {
        top:0;
        max-width: 100%;
        height: 70px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .burger {
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        margin-right: 50px;
        margin-left: 5px;
        z-index: 50;
    }
    .burger span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 13px;
        transition: all 0.4s ease 0s;
    }
    .burger:before,
    .burger:after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 0.4s ease 0s;
    }
    
    .burger:before {
        top:0;
    }
    .burger:after {
        bottom:0;
    }
    
    .nav:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 70px;
        background-color: #000;
        z-index: 3;
    }
    
    .burger.active:before {
        transform: rotate(45deg);
        top:14px;
    }
    .burger.active:after {
        transform: rotate(-45deg);
        bottom:14px;
    }
    .burger.active span {
        transform: scale(0)
    }
    
    .menu-main {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        top:-100%;
        left:0;
        right: 0;
        width: 100%;
        height: 280px;
        background-color: #000;
        z-index: 2;
        
    }
    
    .menu-main.active{
        top:0;
        width: 100%;
        transition: all 0.8s ease 0s;
    }
    
    .menu-main li{
        margin-left: 0px;
        font-size: 23px;
    }
    
    .logo {
        max-width: 230px;
        margin-left: -20px;
        z-index: 50;
    }
    
    .logo .img {
        width: 125px;
        height: 42px;
        margin-left: -20px;
    }

    .menu-main a {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    button{
        font-size: 9px;
        width: 125px;
        height: 42px;
        text-align: center;
        padding: 7px;
        margin-left: 30px;
        margin-right: -70px;
    }
    body{
       width:768px;
       background: #000 url(images/fon3.png); /* Фоновый цвет и фоновый рисунок*/
		      color: #fff; /*Цвет текста на странице*/
		      background-attachment: fixed; /* Фон страницы фиксируется */
		      background-repeat: repeat-y; /* Изображение повторяется по горизонтали */
              background-size: 768px;
    }
    
    .map {
        height: 330px;
    }
    
    .map img{
        width: 150px;
}
    
    .map a img{
        width: 320px;
}
    
    footer{
        width: 100%;
    }
    
    .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer .row {
        width: 200px;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .footer .rrow {
        display: none;
    }
    
    .footer .row ul{
        text-align: center;
    }
    
    .footer .rrow ul{
        margin-left: -83px;
    }
    
    .footer .row ul li {
        font-size: 20px;
        width: 100%;
        margin:2px -15px;
    }
    
    .social a {
	display: block;
        width: 108px;}
    
    .footer .rrow ul li {
        font-size: 16px;
        margin:10px 10px 10px 40px;
        width: 100%;
    }
    
    .footer .row ul li p {
        font-size: 25px;
    }
    
    .footer .rrow ul li p {
        font-size: 25px;
    }
    
    .footer .rrow ul li div{
        margin-top: -20px;
        margin-left: -30px;
        text-decoration:none; 
        color:gainsboro;
    }
    
    .footer1 .row p b{
        font-size: 10px;
    }
    
    .footer1 .row1 img {
        width: 150px;
        height: 30px;
    }
}