body {
    background: #000 url(images/fon3.png); /* Фоновый цвет и фоновый рисунок*/
    color: #fff; /*Цвет текста на странице*/
    background-attachment: fixed; /* Фон страницы фиксируется */
    background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
    background-size: 100%;
    }

.osnov3 {
    width: 80%;
    height: 100px;
    background-color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.galllina {
    display: flex; flex-direction: column; justify-content: center;
    width: 79%;
    margin-top: 30px;
}


/* ГАЛЕРЕЯ */

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    object-fit: cover;
    width: 490px;
    height: 490px;
}

#myImg:hover {opacity: 0.7;}


#myImg1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width:490px; 
    height:490px; 
}

#myImg1:hover {opacity: 0.7;}

#myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 490px;
    height: 490px;
}

#myImg2:hover {opacity: 0.7;}

#myImg3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 878px;
    height: 604px;
}


#myImg3:hover {opacity: 0.7;}

#myImg4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg4:hover {opacity: 0.7;}

#myImg5 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width:490px; 
    height:490px; 
}

#myImg5:hover {opacity: 0.7;}

#myImg6 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width:490px; 
    height:490px;
}

#myImg6:hover {opacity: 0.7;}

#myImg7 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width:490px; 
    height:490px;
}

#myImg7:hover {opacity: 0.7;}

#myImg8 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg8:hover {opacity: 0.7;}

#myImg9 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg9:hover {opacity: 0.7;}

#myImg10 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg10:hover {opacity: 0.7;}

#myImg11 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg11:hover {opacity: 0.7;}

#myImg12 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg12:hover {opacity: 0.7;}

#myImg13 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg13:hover {opacity: 0.7;}

#myImg14 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg14:hover {opacity: 0.7;}

#myImg15 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg15:hover {opacity: 0.7;}

#myImg16 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg16:hover {opacity: 0.7;}

#myImg17 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg17:hover {opacity: 0.7;}

#myImg18 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg18:hover {opacity: 0.7;}

#myImg19 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg19:hover {opacity: 0.7;}

#myImg20 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg20:hover {opacity: 0.7;}

#myImg21 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg21:hover {opacity: 0.7;}

#myImg22 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg22:hover {opacity: 0.7;}

#myImg23 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg23:hover {opacity: 0.7;}

#myImg24 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg24:hover {opacity: 0.7;}

#myImg25 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg25:hover {opacity: 0.7;}

#myImg26 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg26:hover {opacity: 0.7;}

#myImg27 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg27:hover {opacity: 0.7;}

#myImg28 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    justify-content: center;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal img{
    height:80%;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    height: auto;
    width: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* КОНЕЦ ГАЛЕРЕЯ */